@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import 'ngx-toastr/toastr';

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-white);
  }
  :root {
    --bg-dark: #121212;
    --primary-red: #DC3545;
    --accent-gold: #FFC107;
    --text-white: #FFFFFF;
  }
  